.img{
    width: 50px;
    height: 50px;
}
.selectedPage{
    color:gold;
    margin-right: 10px;
}
.users{
    grid-area: c;
}
.span{
    margin-right: 10px;
}
.div{
    margin-top: 5px;
    margin-bottom: 10px;
}
/* Button 2 */

.btn2 {
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}


.btn2::after,
.btn2::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}


