.header {
    grid-area: h;
    background-color: aquamarine;
}
.header img{
    width: 20px;
}

.loginBlock{
    float: right;
}
.loginBlock a{
    color: black;
}

.logo{
    font-size: 48px;
}
.logo:hover{
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}