.content{
    grid-area: c;
    background-color: brown;
}
.img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.imgLike{
    width: 20px;
    height: 20px;
}
.span{
    margin-right: 10px;
}
