.content{
    grid-area: c;
}
.img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.imgLike{
    width: 20px;
    height: 20px;
}
.span{
    margin-right: 10px;
}

button:disabled,
button[disabled]{
   animation: step-end;
}