.app-wrapper {
  margin: 0 auto;
  display: grid;

  grid-template-areas:
          "h h"
          "n c"
          "f f";

  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 1fr 8fr;
  grid-gap: 5px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: brown;
}
.careful{
    font-size: 100px;
}